.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 1000px;
  background: #4b6cc1;
  font-family: "Rubik","Arial",sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 20px 40px;
  font-size: 26px;
  border: 2px solid transparent;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #4b6cc1;
  }

  &:active {
    opacity: .4;
  }
}

@media only screen and(max-width: 600px) {

  .btn {
    padding: 15px 30px;
    font-size: 20px;
  }
}