.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 1000px;
  background: #4b6cc1;
  font-family: "Rubik","Arial",sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 20px 40px;
  font-size: 26px;
}