.hero-right__inner {
  background-color: #111;
  width: 130%;
  height: 450px;
  display: block;
}

.hero-right__img {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px;
}