.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  margin: 0 25px;
}

.nav__link {
  text-decoration: none;
  color: #ababab;
  font-size: 22px;
  letter-spacing: 1px;
  transition: color .3s ease;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    background-color: #4b6cc1;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
    transition: width .3s ease;
  }

  &.active {
    color: #fff;
    
    &::after {
      width: 60%;
    }
  }

  &:hover {
    color: #fff;

    &::after {
      width: 60%;
    }
  }

  &--active {
    color: #fff;
    
    &::after {
      width: 60%;
    }
  }
}


@media only screen and(max-width: 768px) {

  .nav__list {
    display: none;
  }

  .site-header.nav--open .nav__list{
    display: block;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 130px 15px 15px 15px;

    animation: burger .6s ease;
  }

  .site-header.nav--open .nav__link {
    display: block;
    color: #fff;
    border-bottom: 2px solid grey;
    padding: 25px 0 8px 0;

    &::after {
      display: none;
    }
  }
}


@keyframes burger {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}