.site-header {
  background-color: #191A1D;
  padding: 60px 0;
}
.site-header__container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  letter-spacing: 1px;

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 6px;
    background-color: #4b6cc1;
    margin-top: 17px;
    border-radius: 1000px;
    transition: width .5s ease;
  }
  &:hover {
  
    &::after {
      width: 25%;
    }
  }
}


