.site-header {
  background-color: #191A1D;
  padding: 60px 0;
}
.site-header__container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  letter-spacing: 1px;

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 6px;
    background-color: #4b6cc1;
    margin-top: 17px;
    border-radius: 1000px;
    transition: width .5s ease;
  }
  &:hover {
  
    &::after {
      width: 25%;
    }
  }
}

.site-header__burger {
  border: none;
  background-color: transparent;
  margin-bottom: 17px;
  width: 30px;
  height: 30px;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: none;
}


@media only screen and(max-width: 768px) {

  .site-header__burger {
    display: block;
    position: relative;
    z-index: 20;
  }

  .site-header__logo {
    position: relative;
    z-index: 18;
  }

  .site-header.nav--open .site-header__burger {
    background-image: url("../images/close.svg");
  }
}
