html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #eee;
}

@media only screen and(max-width: 768px) {

  body {
    margin-top: 135px;
  }
}